<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhaq.collect.mapper.LabItemMapper">

     <select id="selectLastPoint" resultType="java.lang.Long">
         select point from lab_item where test_flag = #{testFlag} order by point desc limit 1
     </select>


    <select id="getLastVersion" resultType="java.lang.String">
        select version from mhaq_collect_version where type = 2 limit 1
    </select>
</mapper>



         


